= render 'events/background'
.container
	#container.grey
		=link_to "Back", new_event_trip_path, class: "button back"
		.calculations-text#money-message
			According to our calculations, your annual travel emissions are approximately
			- if @trip.carbon == 0
				%span#money-amount= "small amount of carbon"
			- else 
				%span#money-amount= @trip.carbon.to_s + "kg of carbon."
			%br
			%br
			%span While planting trees cannot offset what's already been done, it's still a great way to help green our beautiful planet. 
			%br
			%br
			%span Based on this estimation, contribute 
			- if @money_amount == 0
				- @money_amount = 1
				%span#money-amount= "R1"
			- else
				%span#money-amount= Price.new(@money_amount).to_s + " (" + @dollar_amount + ")"
			towards tree planting projects. 
			%br
			%br
			#join-message Join the treevolution!
				
		%br
	
		.row
			=link_to("Donate the estimated amount", new_event_tree_path(@event, rand_amount: @money_amount, conversion: @conversion_rate, dollar_amount: (@money_amount/@conversion_rate).round(2), session: @session.id), class: "button small", style: "display: block; width: 250px; margin: 0 auto 30px auto")
			=link_to("Donate a whole tree now", 'http://www.quicket.co.za/events/8586-plant-trees-for-your-travels/#/', class: "button small", style: "display: block; width: 250px; margin: 0 auto 30px auto", target: '_blank')
			=link_to("Donate trees monthly", 'https://www.givengain.com/cc/greenpoptreeplanting/donate/#start', class: "button small", style: "display: block; width: 250px; margin: 0 auto 30px auto", target: '_blank')
			
