= render 'events/background'
.container
	#container.grey
		=link_to "Back", new_event_trip_path, class: "button back"
		#money-message
			According to our calculations, you could GreenUp the
			- if @trip.carbon == 0
				#money-amount= "small amount of carbon"
			- else 
				#money-amount= @trip.carbon.to_s + "kg of carbon"
			emitted during your travels by contributing
			
			- if @money_amount == 0
				- @money_amount = 1
				#money-amount= "R1"
			- else
				#money-amount= Price.new(@money_amount).to_s 
				or
				#money-amount= @dollar_amount
			towards green projects.
	
		.row
			=link_to("Contribute Toward Planting Trees", new_event_tree_path(@event, rand_amount: @money_amount, conversion: @conversion_rate, dollar_amount: (@money_amount/@conversion_rate).round(2), session: @session.id), class: "button small", style: "display: block; width: 325px; margin: 0 auto 30px auto")
			=link_to("Create a Personal Green Pledge", new_event_pledge_path(@event, session:@session.id), class: "button small", style: "display: block; width: 325px; margin: 0 auto 30px auto")
