= render 'events/background'
#container.grey
	%h1.green My Green Pledge

	= form_for @pledge, url: event_pledges_path(@event) do |f|
		%ul
			%li.white
				= f.text_area(:about, placeholder: "I pledge to...")
				= f.hidden_field :session_id, value: @session.id
			%li
				= f.submit("I commit!", class: "button")