= render 'events/background'
#container.grey
	- if @event.contribution == "Generic"
		%h1.green Get Active (not anxious)!
	- else
		%h1.green It's a Treevolution, help us plant!
	
	= form_for @tree, url: event_trees_path(@event) do |f|
		%p.white.donate 
			I'll donate R
			= f.number_field :rand_given, id: "ZAR", class: "donate_money inline", value: @rand_amount, step: 0.01
			or USD $
			= f.number_field :dollar_amount, id: "USD", class: "donate_money inline", value: @dollar_amount, step: 0.01
			-if @event.contribution == "Generic"
				toward environmental projects in Southern Africa
			- else
				toward tree planting in Southern Africa
			= f.hidden_field :session_id, value: @session.id
		%span.white.donate
			= f.submit("I have paid through Snapscan", class: "button snapscan", id: "submit")
		
		%span.white.donate
			.button.snapscan#snap
				Donate via Snapscan	
			.box
				= image_tag "snapscanQR.png", class: "snapimg", align: "center"
				= image_tag "close.png", class: "close"
		%span.white.donate
			= f.submit("Donate via Paypal", class: "button paypal")
	%br


:javascript
	var conversion = "#{@conversion}";
	var paypal_url = "#{@paypal_url}";

	$(document).ready(function(){
		$("#USD").change(function(){
			var rand = $(this).val()*conversion
			$("#ZAR").val(rand.toFixed(2));
		});
		$("#ZAR").change(function(){
			var usd = $(this).val()/conversion
			$("#USD").val(usd.toFixed(2));
		});
		$('.paypal').click(function() {
			amount = $("#USD").val();
			window.open('https://www.paypal.com/za/cgi-bin/webscr?amount=' + amount + '&' + paypal_url);
		});
		$('.monthly-pledge').click(function() {
			window.open('https://www.givengain.com/cc/greenpoptreeplanting/donate/#start');
		});
	});
