= render 'events/background'
#container.grey
	%h1.green It's a Treevolution, help us plant!
	
	= form_for @tree, url: event_trees_path(@event) do |f|
		%p.white.donate 
			I'll donate R
			= f.number_field :rand_given, class: "donate_money inline", value: params[:amount] 
			towards tree planting in southern Africa
		= f.submit("Join the Treevolution now!", class: "button")
		
	%p.white.donate
		%button.snapscan Donate through Snapscan	
		%p.snapimg
			= image_tag "snapscanQR.png", class: "snapscan", align: "center"

