= render 'events/background'
#container.grey
	%h1.green It's a Treevolution, help us plant!
	
	= form_for @tree, url: event_trees_path(@event) do |f|
		%p.white.donate 
			I'll donate R
			= f.number_field :rand_given, id: "ZAR", class: "donate_money inline", value: @rand_amount, step: 0.5
			or USD $
			= f.number_field :dollar_amount, id: "USD", class: "donate_money inline", value: @dollar_amount, step: 0.01
			towards tree planting in southern Africa
		= f.submit("Join the Treevolution now!", class: "button")
		
	%span.white.donate
		.button.snapscan Donate through Snapscan	
		.box
			= image_tag "snapscanQR.png", class: "snapimg", align: "center"
			= image_tag "close.png", class: "close"

	%span.white.donate
		.button.paypal Donate through Paypal

:javascript
	var conversion = "#{@conversion}";
	var paypal_url = "#{@paypal_url}";

	$(document).ready(function(){
		$("#USD").change(function(){
			var rand = $(this).val()*conversion
			$("#ZAR").val(rand.toFixed(2));
		});
		$("#ZAR").change(function(){
			var usd = $(this).val()/conversion
			$("#USD").val(usd.toFixed(2));
		});
		$('.paypal').click(function() {
			amount = $("#USD").val();
			window.location = 'https://www.sandbox.paypal.com/za/cgi-bin/webscr?amount=' + amount + '&' + paypal_url;
		});
	});
